# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook & IDEs
.ipynb_checkpoints
.idea/
.vscode/
.claude/
.codegpt

# CARLA / UT-CAR Custom Ignored Files
*.mp4
CarlaEnv/LoadOpenDrive2/towns
build_dataset.md
explaination.md
report.txt

# Personal & Junk Files
archive/
cache/
extra_stats/
experiments_archive/
checkpoints/
mahdi.txt
image.png
python
*.png

# Ignore datasets and logs
# *.npz
imitation/data/archive
imitation/data/processed

__pycache__/

report.txt

experiments/**/*.pt
experiments/**/*.pkl
offline_rl/**/*.npz
test
# Ignore RL experiment logs and datasets
*.tfevents.*
*.zip
experiments/**/*.pt
experiments/**/*.pkl
experiments_tb_only
offline_rl/**/*.npz
test

imitation/data/archive
imitation/data/processed


experiments_tb_only
experiments_archive/**/*.pt
experiments_archive/**/*.pkl
.gitignore
imitation\DAGGER_LOOP.md
